/* -------------------- About Page Styling -------------------- */

.about-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 100%;
  text-align: center;
  h2 {
    margin-bottom: 10%;
  }
  .container {
    height: 100%;
  }
  .flip-images {
    position: relative;
    img {
      position: relative;
      left: 0;
      width: 100%;
      height: auto;
      margin-top: -25px;
    }
    .about-logo {
      max-width: 75%;
      height: auto;
      margin-top: 20%;
    }
  }
  .about-content {
    font-family: $font-regular;
    display: block;
    font-size: 1.3em;
    padding-left: 10%;
    .aligncenter {
      text-align: center;
      margin: 0 auto;
      display: block;
    }
    .alignright {
      text-align: right;
      float: right;
    }
    .alignleft {
      text-align: left;
      float: left;
    }
    img {
      text-align: center;
    }
    .about-signature {
      text-align: center;
      img {
        width: 90%;
        text-align: center;
      }
    }
  }
  .about-logo-container {
    height: 100%;
    img {
      width: 100%;
      margin-top: 50%;
      height: auto;
      vertical-align: middle;
    }
  }
}

.f1_container {
  position: relative;
  z-index: 1;
}
.f1_container {
  perspective: 1000;
}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.f1_container:hover .f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
  height: 300px;
  width: 80%;
  margin-left: 10%;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  position: relative;
  a {
    height: 60px;
    position: relative;
    top: 135px;
    margin-top: 30px;
  }
}