/* -------------------- Carousel Page Styling -------------------- */

.carousel-container {

  .row .carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    .carousel-control.left, .carousel-control.right {
      background-image: none;
      width: 10%;
    }
    .carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 100%;

      .item {
        position: absolute;
        height: 100%;
        width: 100%;
        .upper {
          position: absolute;
          height: 50%;
          width: 100%;
          top: 0;
          display: block;
          background: url(img/bg-upper.png);
          background-size: cover;
          h1 {
            font-size: 12em;
            color: #fff;
          }
        }
        .below .text, .upper .text {
          bottom: 0;
          color: #fff;
          height: 25%;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          text-align: center;
          top: 0;
          width: 90%;
          color: #fff;
          p {
            width: 600px;
            margin: 0 auto;
            font-size: 20px;
            font-family: 'semplicita pro semibold';
          }
          h1 {
            line-height: 1;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

