/* -------------------- Carousel Page Styling -------------------- */

.carousel-container {

  .row .carousel {
    position: absolute;
    height: 60%;
    width: 60%;
    top: 25%;

    .carousel-control.left, .carousel-control.right {
      background-image: none;
      width: 10%;
    }

    .carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 100%;

    }

    .item {
      position: absolute;
      height: 1000%;
      width: 100%;

      .upper {
        position: absolute;
        height: 10%;
        width: 100%;
        top: 0;
        display: block;

      }

    }


  }

}

