/* -------------------- Contact Page Styling -------------------- */

.contact-container {
    text-align: center;
  padding-top: 10vh;

  h3 {
    font-family: $font-regular;
    font-size: 1.5em;
  }

  .name_mail {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

