/* -------------------- Ideology Page styling ---------------------------- */

.ideology-container {

  text-align: center;
  padding-top: 10vh;

  p {
    font-size: 1.5em ;
  }

  .ideology-content {
    font-family: $font-regular;
    padding-top: 5em;

  }

}

