/* -------------------- Ideology and Inspiration styling ---------------------------- */

.ideology-container {

  text-align: center;

  p {
    font-size: 1.5em ;
  }

  .ideology-content {
    font-family: $font-regular;
    padding-top: 5em;

  }

}


.inspiration-container {
  text-align: center;

  p {
    font-size: 1.5em;
  }

  .inspiration-container {
    font-family: $font-regular;

  }
}