/* -------------------------- Modal Styling -------------------------------- */

.modal-body {
  img {
    max-width: 100% !important;
    height: auto !important;
  }

  h2 {
    font-family: $font-bold;
  }

  P {
    font-family: $font-regular;
    font-size: 1.5em;
  }
  .col-md-4 {
    padding: 1em !important;
  }
}

.modal-title {

  font-family: $font-bold;

}

.close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  right: 25px;
  cursor: pointer;

  .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 10000010;

    .rl {
      height: 75px;
      width: 1px;
      background-color: #222;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      z-index: 10000010
    }

  }

}
.close-modal:hover {
  opacity: .3
}

.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none
}

.btn-primary {
  color: black;
  background-color: $siteColor;
  border-color: $siteColor;
  font-family: $font-bold;


}

.btn-primary:hover {
  color: black;
  background-color: $siteColor;
  border-color: $siteColor;
  font-family: $font-bold;
}