/* -------------------- Navbar Styling -------------------- */

.affix {
  //top: 0 !important;
  z-index: 100;
}

.down-arrow {
  position: absolute;
  bottom: 0;
  right: 50%;
  color: black;
  font-size: 50px;
  margin-right: -27px;
}

.down-arrow:focus, .down-arrow:hover {
  color: black !important;
}

.top-nav {
  background-color: white;
  .container-fluid {
    position: relative;
    ul {
      position: relative;
      left: 50%;
      transform: translatex(-50%);
      height: auto;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      li {
        float: none;
        display: inline-block;
        position: relative;
        a {
          font-family: $font-bold;
          font-size: 1.5em;
          color: black;
          display: block;
        }
        a:hover, a:focus {
          background-color: white;
          text-decoration: underline;
        }
      }
      .logo-li {
        a {
          img {
            max-width: 10vw;
            height: auto;
          }
          .nav-mini-logo {
            max-width: 2vw;
            height: auto;
          }
        }
      }
    }
  }
}

