/* -------------------- Navbar Styling -------------------- */

.affix {
  //top: 0 !important;
  z-index: 100;
}

.down-arrow {
  position: absolute;
  bottom: 0;
  right: 48%;
  color: black;
  font-size: 50px;
}

.down-arrow:focus, .down-arrow:hover {
  color: black !important;
}

