/* -------------------- Portfolio Page Styling -------------------- */

.portfolio-container {
  padding-top: 10vh;
  height: 100%;
  .container {
    height: 100%;
    width: 61.5%;
  }

  .projects-line {
    width: 50px;
    height: 1px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
  }

  h2 {
    text-align: center;
  }

  .portfolio-subtitle-container {
    padding-top: 5em;
  }

  .personal-projects-container {
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
    .personal-pic {
      width: 100%;
      min-height: 100%;
      a {
        div {
          display: inline-block;
          width: 100%;
          height: 450px;
          background: no-repeat center center fixed;
          background-size: cover !important;
          float: right;
        }
      }
    }
  }
  .school-projects-container {
    height: 100%;
    position: relative;
    h2 {

    }
    .school-pic {
      width: 100%;
      min-height: 100%;
      img {
        width: 100%;
        height: auto;
      }
      a {
        div {
          display: inline-block;
          width: 33%;
          height: 150px;
          background: no-repeat center center fixed;
          background-position-x: 50% !important;
          background-size: cover !important;
          float: right;
        }
      }
    }
    .school-pic:first-child {
      min-height: 100%;
      max-width: 66%;
      a {
        height: 450px;
        width: 100%;
        div {
          width: 101.4%;
          height: 450px;
          background: no-repeat center center fixed;
          background-position-x: 38% !important;
          background-size: cover !important;
          float: left;
        }
      }
    }
  }
  /*.school-projects-container:before {
    content: "";
    display: block;
    padding-top: 100%;
  }*/
  /*.school-projects-container:first-child {
    min-width: 300px;
    min-height: 300px;
  }*/
}

.portfolio-logo-container {
  min-height: 100%;
  display: inline-block;
  text-align: center;
  img {
    width: 90%;
    height: auto;
    margin-top: 100%;
  }
}

.tint {
  position: relative;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.tint:hover:before {
  background: rgba(250,234,234, 0.7);
  background-image: url("../img/PreloaderLogo.png");
  background-position: center;
  background-repeat: no-repeat;
}

