/* -------------------- SASS Variables -------------------- */

$siteColor: #faeaea;

/* -------------------- Bootstrap Reset Styling -------------------- */

.container-fluid {
  padding: 0 !important;
}

.container {
  padding: 0 !important;
}

.page-container {
  min-height: 100vh;
}

.full-height {
  min-height: 100vh;
}

.col-md-12, .col-md-4, .col-md-2, .col-md-5 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}


/* ---------------------- Fonts & Font Vars ------------------------- */

@font-face {
  font-family: 'GothamRounded-Bold';
  src: url("fonts/GothamRounded-Book.otf") format('opentype');
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url("fonts/GothamRounded-Book.otf") format('opentype');
}

@font-face {
  font-family: 'GothamRounded-Light';
  src: url("fonts/GothamRounded-Light.otf") format('opentype');
}

@font-face {
  font-family: 'GothamRounded-Medium';
  src: url("fonts/GothamRounded-Medium.otf") format('opentype');
}

$font-bold: 'GothamRounded-Bold';
$font-light: 'GothamRounded-Light';
$font-medium: 'GothamRounded-Medium';
$font-regular: 'GothamRounded-Book';


/* ---------------------- Global Styling ---------------------------- */

.strong-line {
  width: 85px;
  height: 1px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 65px;
  margin-left: 65px;
}

.aligncenter {
  text-align: center;
}

img.alignright {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

