/* -------------------- SASS Variables -------------------- */



/* -------------------- Bootstrap Reset Styling -------------------- */

.container-fluid {
  padding: 0 !important;
}

.page-container {
  min-height: 100vh;
}

.full-height {
  min-height: 100vh;
}

